$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$bg-color: white;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $bg-color;
}

.selected {
	font-weight: bold;
}

.hidden {
	display: none;
}